 
.loaderbox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    body{
      height: 100vh;
    }
    .loader {
    width: 8em;
    height: 8em;
  }
  
  .loader__eye1,
    .loader__eye2,
    .loader__mouth1,
    .loader__mouth2 {
    animation: eye1 3s ease-in-out infinite;
  }
  
  .loader__eye1,
    .loader__eye2 {
    transform-origin: 64px 64px;
  }
  
  .loader__eye2 {
    animation-name: eye2;
  }
  
  .loader__mouth1 {
    animation-name: mouth1;
  }
  
  .loader__mouth2 {
    animation-name: mouth2;
    visibility: hidden;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 90%, 10%);
      --fg: hsl(var(--hue), 90%, 90%);
    }
  }
  
  @keyframes eye1 {
    from {
      transform: rotate(-260deg) translate(0, -56px);
    }
  
    50%,
      60% {
      animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
      transform: rotate(-40deg) translate(0, -56px) scale(1);
    }
  
    to {
      transform: rotate(225deg) translate(0, -56px) scale(0.35);
    }
  }
  
  @keyframes eye2 {
    from {
      transform: rotate(-260deg) translate(0, -56px);
    }
  
    50% {
      transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }
  
    52.5% {
      transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
    }
  
    55%,
      70% {
      animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
      transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }
  
    to {
      transform: rotate(150deg) translate(0, -56px) scale(0.4);
    }
  }
  
  @keyframes eyeBlink {
    from,
      25%,
      75%,
      to {
      transform: scaleY(1);
    }
  
    50% {
      transform: scaleY(0);
    }
  }
  
  @keyframes mouth1 {
    from {
      animation-timing-function: ease-in;
      stroke-dasharray: 0 351.86;
      stroke-dashoffset: 0;
    }
  
    25% {
      animation-timing-function: ease-out;
      stroke-dasharray: 175.93 351.86;
      stroke-dashoffset: 0;
    }
  
    50% {
      animation-timing-function: steps(1, start);
      stroke-dasharray: 175.93 351.86;
      stroke-dashoffset: -175.93;
      visibility: visible;
    }
  
    75%,
      to {
      visibility: hidden;
    }
  }
  
  @keyframes mouth2 {
    from {
      animation-timing-function: steps(1, end);
      visibility: hidden;
    }
  
    50% {
      animation-timing-function: ease-in-out;
      visibility: visible;
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -351.86;
    }
  }
  loaderbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .navbar-fixed-top {
    top: auto;
  }
  #mobiriseBanner.container-banner {
    height: 8rem;
    opacity: 1;
    -webkit-animation: 4s linear animationHeight;
    -moz-animation: 4s linear animationHeight;
      -o-animation: 4s linear animationHeight;
         animation: 4s linear animationHeight;
         transition: all  0.5s;
  }
  #mobiriseBanner.container-banner.container-banner-closing {
    pointer-events: none;
    height: 0;
    opacity: 0;
    -webkit-animation: 0.5s linear animationClosing;
    -moz-animation:  0.5s linear animationClosing;
      -o-animation:  0.5s linear animationClosing;
         animation:  0.5s linear animationClosing;
  }
  #mobiriseBanner .banner {
    min-height: 8rem;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    opacity:1;
    -webkit-animation: 4s linear animationBanner;
    -moz-animation: 4s linear animationBanner;
      -o-animation: 4s linear animationBanner;
         animation: 4s linear animationBanner;
    z-index: 1031;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #mobiriseBanner .banner p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    animation: none;
    visibility: visible;
  }
  #mobiriseBanner .buy-license {
    text-decoration: underline;
  }
  #mobiriseBanner .banner .btn {
    margin: 0.3rem 0.5rem;
    animation: none;
    visibility: visible;
  }
  .navbar.opened {
      z-index: 1032;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
     @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
     @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
     
  @-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  
  @media(max-width: 767px) {
    #mobiriseBanner.container-banner {
      height: 12rem;
    }
    #mobiriseBanner .banner {
      min-height: 12rem;
    }
    @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
      @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
      @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  
    @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
    @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
    @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
    @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px){
    .features10 .container{
      display: flex;
      flex-direction: row;
    }
  }